body {
    margin: 0px;
    font-family: 'Manrope', sans-serif;
    background: #e8f1fc;
  }
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  .ks-rounded-16 {
    border-radius: 16px;
  }

  .ks-pd-30 {
    padding: 30px;
  }

  .ks-card {
    background: white;
    margin: auto;
    width: 320px;
    overflow: hidden;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .ks-page-wrapper {
    height: calc(100vh);
    display: flex;
    width: 100%;
    /* background-image: url(./design/mobile-active-state.jpg); */
  }

  .ks-card-header-image-cover {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .ks-card-body {
    padding: 15px 32px;
    display: flex;
    flex-direction: column;
  }

  .ks-card-body-title {
    font-size: 16.3px;
    font-weight: 700;
    line-height: 18px;
    color: #48556a;
    line-height: 23.5px;
    padding: 14.5px 0px;
    word-spacing: 1.2px;
  }

  .ks-card-body-content {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #6d7f97;
    margin-bottom: 30px;
  }

  .ks-card-body-personel {
    display: flex;
    margin-bottom: 5px;
  }

  .ks-personel-avatar {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
  }

  .ks-personel-info {
    margin-left: 15px;
    padding: 1px;
    flex: 1;
  }

  .ks-personel-fullname {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #656b78;
  }

  .ks-personel-date {
    font-size: 13px;
    font-weight: 500;
    color: #babcc2;
  }

  .ks-btn-personel-share {
    border-radius: 50%;
    background: #edf2f8;
    margin: auto;
    padding: 5px 8px;
  }

  .ks-btn-personel-share:hover {
    background: #6e8098;
    color: white;
  }

  .ks-btn-personel-share:hover svg path {
    fill: white;
  }

  .ks-popup-share {
    background: #49556b;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 32px;
    display: flex;
  }

  .ks-popup-text {
    font-size: 13px;
    letter-spacing: 6px;
    color: #7d8da2;
    display: inline-block;
    padding: 6px 0;
  }

  .ks-social-panel {
    margin-left: 8px;
    padding: 3.5px;
  }

  .ks-social-panel img {
    padding: 0 8px;
  }

  .ks-popup-share .ks-btn-personel-share {
    margin: 0;
    right: 0;
    /* flex: 1; */
    float: right;
  }

  @media only screen and (min-width: 600px) {
    .ks-card {
      width: 710px;
      flex-direction: row;
    }

    .ks-card-header-image-cover {
      height: 100%;
      width: 280px;
      object-position: left;
    }

    .ks-card-body-title {
      font-size: 20px;
      line-height: 28px;
    }
  }